# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/dstr-assignment/FileContentIndex/2d4fdd53-65ce-435f-921d-23f948a3009c.vsidx
.vs/dstr-assignment/FileContentIndex/417b10f1-9f99-4372-8c6d-95558fa4e7cd.vsidx
.vs/dstr-assignment/FileContentIndex/50966e85-50d4-4a19-8778-6ef190c39e46.vsidx
.vs/dstr-assignment/v17/Browse.VC.db
.vs/dstr-assignment/FileContentIndex/36444eb7-59f2-4f0f-bee8-3d9b7b0514f8.vsidx
.vs/dstr-assignment/v17/Browse.VC.db-shm
.vs/dstr-assignment/FileContentIndex/d6f22658-c426-44f3-b7a1-b4c6017ed3ff.vsidx
.vs/dstr-assignment/v17/Browse.VC.db-wal
.vs/dstr-assignment/FileContentIndex/807382ec-b661-4799-8dbe-4077086961d9.vsidx
.vs/dstr-assignment/FileContentIndex/4ac79424-91de-49d4-8833-1620c656866f.vsidx
.vs/dstr-assignment/v17/Browse.VC.opendb
.vs/dstr-assignment/FileContentIndex/cc8af259-35d8-4d3a-a8ff-313f56d5b072.vsidx
.vs/dstr-assignment/v17/DocumentLayout.json
.vs/dstr-assignment/FileContentIndex/d8b12cb0-d777-4bef-a727-e8b4671947cb.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/dstr-assignment/v17/ipch/AutoPCH/936eb30977f70718/ARRAYA2CELES.ipch
.vs/dstr-assignment/FileContentIndex/2b8b48c2-ce8c-4513-994d-644dd6782374.vsidx
.vs/dstr-assignment/FileContentIndex/801c67f5-99a4-4b36-be98-8ed43ad02950.vsidx
.vs/dstr-assignment/FileContentIndex/11d486e7-2e82-48bc-b10a-eb5823dfb2c3.vsidx
.vs/dstr-assignment/FileContentIndex/00fcd98d-cadf-4270-bc48-40d7e5c3549f.vsidx
.vs/dstr-assignment/FileContentIndex/ab661633-dd19-431d-9356-069d1f3bb83a.vsidx
.vs/dstr-assignment/FileContentIndex/5dc545d3-39f9-40a0-8ad4-e73497b59248.vsidx
.vs/dstr-assignment/FileContentIndex/92c0cb69-de56-4619-9108-ed7af2444e01.vsidx
.vs/dstr-assignment/FileContentIndex/df19798c-8575-4aad-bc2b-8aa2435357b7.vsidx
.vs/dstr-assignment/FileContentIndex/1e568927-a4bf-4fc1-941d-2c21a8b421d2.vsidx
/.vs/dstr-assignment/FileContentIndex
